<%- include('../partials/header') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 ">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Log in</h5>
                    <form action="/login" method="POST" novalidate class="needs-validation">
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" name="username" id="username" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" name="password" id="password" required>
                        </div>
                        <div class="d-grid gap-2 mg-3">
                            <button class="btn btn-success">Log In</button>                    
                        </div>
                    </form>
                </div>                
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %> 